*{
    box-sizing: border-box;
}

.partner{
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    /* border:2px solid blue; */
    margin-top: 100px;

}

.partner-container{
    /* border:2px solid lightskyblue; */
    margin:0 auto;
    width:80%;
    text-align: center;
    min-width: 10px;
}

.partner-container>h1{
    font-size: 3em;
    /* padding:4px */

}
.partner-container>p{
    font-size: 1.4em;
    color:#593333 ;
    
}